body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #004aad;
    color: white;
    padding: 20px;
    text-align: center;
}

.foto-escola {
    text-align: center;
    padding: 20px;
}

.foto-escola img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

.professores {
    background: white;
    padding: 20px;
    text-align: center;
}

.botoes a {
    display: inline-block;
    background: #004aad;
    color: white;
    padding: 15px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.botoes a:hover {
    background: #002d6a;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.noticias {
    background: #e8f0ff;
    padding: 20px;
}

.noticias h2 {
    text-align: center;
    color: #004aad;
    margin-bottom: 20px;
}

.card-noticia {
    background: white;
    padding: 15px;
    margin: 10px auto;
    max-width: 700px;
    border-left: 6px solid #004aad;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}